.linhaTempo{
    position: relative;
    margin-top: 50px;
    overflow: hidden;
    padding-bottom: 20px;
}
.linhaTempo .linha{
    width: 10px;
    height: 90%;
    background-color: #202020;
    position: absolute;
    left: 50%;
    top:50px;
    transform: translateX(-50%);
    margin-top: 50px;
    animation: piscaLinha 1s infinite;
    animation: linhaPisca 1s;
    
}
.linhaApagada{
    opacity: 0;
}

@keyframes linhaPisca {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes piscaLinha {
    0%{
        background-color: #202020;
    }
    50%{
        background-color: #3b3939;
    }
    100%{
        background-color: #202020;
    }
}

