.ME{
    height: 250px;
    width: 90%;
    padding-top: 30px;
    overflow: hidden;
    left: 50%;
    padding-top: 30px;


    

}
.MEMenor{

    height: 80px;
    width: 90%;
    padding-top: 50px;
    overflow: hidden;
    left: 50%;

    transition: 1s;
    z-index: 2;
 }
 .bolinha{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    color: #D0142C;
    background-color: rgb(41, 41, 41);
    cursor: pointer;
    animation: pulse 5s infinite;
    transition: 1s;
    margin: -25px auto 120px;


}
.bolinha svg{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
}

.bolinha:hover{
    animation: hoverBolinha 0.5s;
    width: 55px;
    height: 55px;

    

}

@keyframes hoverBolinha {
    0%{
        width: 40px;
        height: 40px;

    }
    30%{
        margin-top: -30px;
    }
    
    60%{
        width: 60px;
        height: 60px;

    }
    100%{
        width: 55px;
        height: 55px;
        margin-top: -30px;



    }
}
@keyframes pulse{
    0% {
        transform: scale(1);
    }
    10% {
        transform:  scale(1.3);
    }
    20% {
        transform: scale(0.9);
    }
    30% {
        transform:  scale(1.2);
    }
    40% {
        transform:  scale(0.9);
    }
    50% {
        transform:  scale(1.3);
    
    }
    60% {
        transform:  scale(0.9);
    }
    70% {
        transform:  scale(1.3);
    }
    80%{
        transform: scale(0.8);
    }
    90%{
        transform: scale(1.4);
    }
    100% {
        transform:  scale(1);
   
    }
}


.divisor{
    height: 60px;
}

.modal{
    transition: 1s;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.janelaModal{
    background-color: rgba(38, 37, 37, 0.949);
    width: 50%;
    height: 100%;
    margin: 0 auto;
    transition: 1s;
    display: flex;
    padding: 10px;
    border-radius: 10px;

    

}
.MEEscrito{
    width: 50%;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;


}
.MEFoto{
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MEFoto img{
    width: 60%;
    border: 2px solid white;
    border-radius: 10px;

}
.METitulo{
    font-size: 22px;
    overflow: hidden;
}
.MESobre{
    overflow: hidden;
}
.MELink{
    text-decoration: underline;
    font-size: 12px;
}
a{
    color: white;
}



@media screen and (max-width: 1100px) {
    .janelaModal{
        width: 80%;
        height: 100%;      
    }
  }
  @media screen and (max-width: 650px) {
    .janelaModal{
        width: 100%;
        height: 100%;
    
        
    
    }
    .MEFoto img{
        width: 80%;
        border: 2px solid white;
        border-radius: 10px;
    
    }
    .ME{
        height: 350px;
        width: 90%;
        padding-top: 30px;
        overflow: hidden;
        left: 50%;
        margin-top: -30px;
        padding-top: -50px;
    
    
    
        
    
    }
  }