.display{
    display: none;
}


@media screen and (max-width: 900px) {
    .menuMobile{
        position: fixed;
        right: 15px;
        top: 12px;
        width: 50px;
        height: 50px;
        color: white;
        overflow-y: hidden;
        z-index: 5;
        animation: descerMenu 0.5s;

    
}
    .menuMobile svg{
        width: 100%;
        height: 100%;
}



    .menu{
        width: 45%;
        height: 100%;
        background-color: rgba(40, 39, 39, 0.956);  
        position: fixed;
        right: calc(0px + -45%);
        top: 0;
        z-index: 2;
        text-align: center;
        padding-top: 80px;
        transition: 0.5s;
        z-index: 5;
    }
    .menu a{
        color: white;
        text-decoration: none;
    }
    .menu ul li{
        border: 2px solid white;
        margin-bottom: 10px;
        width: 100px;
        min-height: 40px;
        margin: 10px auto;
        line-height: 40px;

    }
    .menu ul li:nth-child(3){
        line-height: 25px;
        
    }
    .apareceMenuLateral{
        right: 0;

    }
    .menu a svg{
    position: relative;
    top: 2px;
    right: 5px;
    }
}


@keyframes descerMenu {
    0%{
        top:-80px
    }
    100%{
        top:12px
    }
}